backend nextcloud_backend
    mode http
    option forwardfor
    timeout server 86400s

    server nextcloud {{ backend_ip }}:{{ backend_port }} check

backend nextcloud_ws_backend
    mode http
    option forwardfor
    timeout server 86400s

    server nextcloud {{ backend_ip }}:{{ backend_port }} check
