frontend tcp_443
    bind *:443
    mode tcp

    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

{% for vhost in haproxy_vhosts %}
{% if vhost.backend_port == 443 and vhost.mode == 'tcp' and vhost.enabled | default(true) %}
    use_backend {{ vhost.name }}_backend if { req_ssl_sni -i {{ vhost.domain }} }
{% endif %}
{% endfor %}
